<!DOCTYPE html>
<html {{ site.language_attributes }}>
	{% block head %}
		{% include 'partials/head.twig' %}
	{% endblock %}

	<body class="{{ body_class }}">
		{{ function('wp_body_open') }}
		<div id="app">
			{% block header %}
				<nav id="nav-main" class="nav-main">
					<div class="logo">
						<a href="{{ home_url }}">
							{% if logo_url %}
								<img src="{{ logo_url }}" alt="{{ site.logo.alt }}" with="150" height="150">
							{% else %}
								{{ site.title }}
							{% endif %}
						</a>
					</div>
		
					{% include 'partials/menu.twig' with {
                            items: menu.get_items
                        } %}

{# {{dump(menu_links)}} #}


				</nav>
			{% endblock %}

			<div class="wrapper">
			 {% block content %}{% endblock %}
			</div>

			{% block footer %}
				{# {% include 'partials/footer.twig' %} #}
			{% endblock %}
		</div>

			{{ function('wp_footer') }}
			{% do action('get_footer') %}
		</body>
	</html>
