{% extends "/layouts/base.twig" %}

{% block content %}
	<div class="container">
		<separator></separator>
		<block-primary headline="{{ home_text }}" textarea="{{ home_textarea }}" image="{{ home_image }}" button-main="{{ home_button_1 }}" button-secondary="{{ home_button_2 }}" link-one={{ home_link_button_1 }} link-two={{ home_link_button_2 }}></block-primary>

		<separator></separator>
	</div>

	{% for banner in banners %}
		<image-carrusel	 :images='{{ banner.image_urls|join(",")|split(",")|json_encode|replace({"\\\/": "/"})|raw }}'></image-carrusel>
	{% endfor %}

{% endblock %}
